.App-header {
  text-align: center;
  height: 100px;
  padding: 20px;
}
.App{
  background: black;
  color: white
}


.App-intro {
  font-size: large;
}

.tile{
  height: 250px;
  width: 250px;
  margin: 10px;
  background: #ffcccc;
  float: left;
  font-size: 16px;
  text-align: left;
  color: black;
}
.tile:hover {
  background-color: #ffb8b8;
}
.newideabutton{
  display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #ff4d4d;
border: none;
border-radius: 15px;
box-shadow: 0 9px #1e272e;
float: left;
}
.newideabutton:hover {background-color: #ff3838}

h4{
  color: #1e272e;
  font-size: 20px;
}
.input:focus {
  border: solid 1px lightgrey;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 11px;
}
