.App-header {
  text-align: center;
  height: 100px;
  padding: 20px;
}
.App{
  background: black;
  color: white
}


.App-intro {
  font-size: large;
}

.tile{
  height: 250px;
  width: 250px;
  margin: 10px;
  background: #192a56;
  float: left;
  font-size: 15px;
  text-align: left;
}
.newideabutton{
  display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #05c46b;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
float: left;
}
.newideabutton:hover {background-color: #4CAF50 }

h4{
  color: #4CAF50;
}
